<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" style="color:white" >
      <br> 
      <img src="https://cdn.dribbble.com/userupload/3158902/file/original-7c71bfa677e61dea61bc2acd59158d32.jpg?resize=400x300" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      
      Mural Context Manager Configurations
    </a>
  </div>
</nav>
<div class="sidebar">

  <a routerLink="/demo" style="color:white">Location Mapping</a>
  <a routerLink="/demo" style="color:white">Facility</a>
  <a routerLink="/demo" style="color:white">Application</a>
  <a routerLink="/demo" style="color:white">CM Template</a>
  <a routerLink="/demo" style="color:white">Cockpit</a>
  <a routerLink="/demo" style="color:white">End-Point MApping</a>
  <a routerLink="/demo" style="color:white">Notes Template</a>
  <a routerLink="/demo" style="color:white">EMR</a>
  <a routerLink="/" style="color:white">Task</a>
  <a routerLink="/demo" style="color:white">Task SET</a>
</div>


