<div class="container ">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5">
            <div class="row">


                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                    </div>
                    <div class="row mt-5" *ngIf="sho; else elseBlock">
                        <!-- <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-4">
                            <label  for="" class="form-label text-secondary">Name</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="name" disabled value="{{name}}" >
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-4">
                            <label for="" class="form-label text-secondary">Descriptions</label>
                            <input type="text" class="form-control" name="descriptions" [(ngModel)]="descriptions" disabled value="{{descriptions}}">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-4">
                           
                        </div>


                


                        <div class="form-check">
                            <input class="form-check-input" type="radio"  value="false" disabled name="flexRadioDefault" id="flexRadioDefault1" (ngModelChange)="getValue(false)">
                            <label class="form-check-label" for="flexRadioDefault1">
                              No
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio"  value="true" disabled name="flexRadioDefault"  id="flexRadioDefault2" (ngModelChange)="getValue(true)">
                            <label class="form-check-label" for="flexRadioDefault2">
                              Yes
                            </label>
                            <div *ngIf="ticks; else elseBlock">
                                <select name="tickdata" class="form-control  "  [(ngModel)]="tickdata" disabled value="{{tickdata}}">
                                    <option class="d">None</option>
                                    <option>ADT-A01</option>
                                    <option>ADT-A03</option>
                                </select>
                            </div>
                            <ng-template #elseBlock>
                                <select name="tickdata" class="form-control  "  [(ngModel)]="tickdata"  value="{{tickdata}}" disabled>
                                    <option class="d">None</option>
                                    <option>ADT-A01</option>
                                    <option>ADT-A03</option>
                                </select>
                            </ng-template>
                          </div>        
                          

                        
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-4 d-flex justify-content-center mt-5">
                            <button class="btn btn-primary p-2 mx-3" (click)="readValues()" (click)="handleClear()" disabled>Save</button>
                            <button class="btn btn-primary p-2 mx-3" (click)="handleClear()" disabled>Cancel</button>
                        </div> -->
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-2">
                            <h5><br>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <br>
                                    <button class="btn btn-outline-primary" type="button">+Task</button>
                                    <br>
                                </div>
                                <br>
                            </h5>
                            <link rel="stylesheet"
                                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                            <table class="table justify-content-center table-bordered mb-5" class="table table-striped">
                                <thead class="bg-light">
                                    <tr>

                                        <th class="text-center" scope="col">Name</th>
                                        <th class="text-center" scope="col">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of TestData">

                                        <td style="width: 15rem;" class="text-center">{{i.name}}</td>

                                        <td style="width: 20rem;" class="text-center">
                                            <button class="btn btn-danger mx-2"><i class="fa fa-trash"></i>
                                                </button>
                                            <button class="btn btn-primary" (click)="editBtnClick(i.id)"
                                                (click)="sho = false"><i class="fa fa-bars"></i> </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>










                <ng-template #elseBlock>


                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5">

                        <div class="row mt-5">
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-4">
                                <label for="" class="form-label text-secondary">Name</label>
                                <input type="text" class="form-control" name="name" [(ngModel)]="name" value="{{name}}">
                            </div>
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-4">
                                <label for="" class="form-label text-secondary">Descriptions</label>
                                <input type="text" class="form-control" name="descriptions" [(ngModel)]="descriptions"
                                    value="{{descriptions}}">
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="options" [value]="false"
                                    [(ngModel)]="selectedOption" [checked]="selectedOption" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    No
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="options" [value]="true"
                                    [(ngModel)]="selectedOption" [checked]="selectedOption" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Yes
                                </label>
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-4">

                                    <div *ngIf="selectedOption; else elseBlock">
                                        <select name="tickdata" class="form-control" [(ngModel)]="tickdata"
                                            value="{{tickdata}}">
                                            <option class="d">None</option>
                                            <option>ADT-A01</option>
                                            <option>ADT-A03</option>
                                        </select>
                                    </div>
                                    <ng-template #elseBlock>

                                    </ng-template>
                                </div>
                            </div>



                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-outline-primary p-2 mx-3" (click)="readValues()"
                                    (click)="sho = true">Save</button>
                                <button class="btn btn-outline-primary p-2 mx-3" (click)="handleClear()"
                                    (click)="sho = true">Cancel</button>
                            </div>
                        </div>


                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-2">
                        <h5> <br></h5>
                        <link rel="stylesheet"
                            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                        <table class="table justify-content-center table-bordered mb-5" class="table table-striped">
                            <thead class="bg-light">
                                <tr>

                                    <th class="text-center" scope="col">Name</th>
                                    <th class="text-center" scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let i of TestData">

                                    <td style="width: 15rem;" class="text-center">{{i.name}}</td>

                                    <td style="width: 20rem;" class="text-center">
                                        <button class="btn btn-danger mx-2"><i class="fa fa-trash"></i> Delete</button>
                                        <button class="btn btn-success" (click)="editBtnClick(i.id)"><i
                                                class="fa fa-bars"></i> Edit</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </ng-template>






            </div>
        </div>
    </div>
</div>